* {
    /* Good practice */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F2937;
    font-family: 'Roboto';
}

.page__header {
    display: flex;
    justify-content: space-between;

    color: white;
}

.page__logo {
    color: #F9FAF8;
    font-size: 24px;
}

.page__navBar {
    display: flex;
    gap: 20px;

    /* Changes cursor on hover. */
    cursor: pointer;

    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    color: white;

    display: flex;
    align-items: center;
    gap: 25px;
}

.intro__info {
    /* Sets the width to half the container. */
    width: 50%;
    height: 200px;
}

.intro__header {
    color: #F9FAF8;
    font-size: 48px;
}

.intro__text {
    font-size: 18px;
    color: #E5E7EB;

    padding-bottom: 10px;
}

.intro__image {
    background: darkgray;
    padding: 50px 100px;

    /* Sets the width to half the container. */
    width: 50%;

    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.page__header,
.intro {
    padding: 20px 150px;
    padding-bottom: 75px;
}

.info {
    background: #F9FAF8;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__header {
    font-size: 36px;
    color: #1F2937;
}

.info__subtext {
    display: flex;
    justify-content: space-around;

    font-size: 18px;
    color: #1F2937;
}

.container__image {
    height: 100px;
    width: 100px;

    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote {
    background: #E5E7EB;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote__author {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.signUp {
    border-radius: 5px;
}

.signUp__header {
    font-size: 24px;
}

.signUp__text {
    font-size: 18px;
}

.button {
    background: #3882F6;
    color: #F9FAF8;

    border: none;
    text-align: center;

    border-radius: 5px;
    padding: 5px 20px;
}

button:hover {
    cursor: pointer;
}

.button--style {
    border: 1px solid #F9FAF8;
    height: 30px;
    width: 100px;
}

.signUp {
    background: #3882F6;
    color: #F9FAF8;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
}

.page__copyright {
    color: #F9FAF8;
    text-align: center;
}