body {
    background: #1F2937;
    font-family: 'Roboto';
}

.page__header {
    display: flex;
    justify-content: space-around;

    color: white;
}

.page__logo {
    color: #F9FAF8;
    font-size: 24px;
}

.page__navBar {
    display: flex;
    gap: 10px;

    /* Changes cursor on hover. */
    cursor: pointer;

    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    color: white;

    display: flex;
    align-items: center;
}

.intro__header {
    color: #F9FAF8;
    font-size: 48px;
}

.intro__text {
    font-size: 18px;
    color: #E5E7EB;
}

.intro__image {
    background: gray;
    padding: 50px 100px;
}

.info {
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__header {
    font-size: 36px;
    color: #1F2937;
}

.info__subtext {
    display: flex;
    justify-content: space-around;

    font-size: 18px;
    color: #1F2937;
}

.container__image {
    height: 100px;
    width: 100px;

    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote {
    background: #E5E7EB;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote__author {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.button {
    background: #3882F6;
    color: white;

    border: none;
    text-align: center;

    border-radius: 5px;
    padding: 5px 20px;
}

.signUp {
    background: #3882F6;
    color: white;
}